html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

input,
select {
  display: block;
  line-height: 32px;
  font-size: 27px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 20%;
  margin: 0 auto;
  padding-top: 360px;
}