@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply flex items-center justify-center h-screen;
}

.form {
  @apply p-6 bg-gray-100 shadow-md rounded w-1/2 max-w-screen-lg;
}

.text-input {
  @apply w-full px-3 mb-6;
}

.text-input--half {
  @apply w-1/2;
}

.text-input__label {
  @apply block text-gray-700 text-base font-bold;
}

.text-input__input {
  @apply block w-full mt-2 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 focus:outline-none focus:bg-white focus:border-gray-500;
}

.text-input__option {
  @apply text-sm text-gray-700 leading-tight;
}

.checkbox {
  @apply inline-flex items-center;
}

.checkbox__label {
  @apply text-gray-700 text-base font-bold ml-2;
}

.checkbox__input {
  @apply rounded h-5 w-5 text-blue-500 focus:ring-0;
}

.checkbox-group {
  @apply grid grid-cols-2 lg:grid-cols-3 w-full px-3 mb-6;
}

.checkbox-group__item {
  @apply mb-2 mr-2;
}

.radio-group {
  @apply w-full px-3;
}

.radio-group__legend {
  @apply text-gray-700 text-base font-bold ml-2 whitespace-nowrap;
}

.radio-group__item {
  @apply mr-2;
}

.radio {
  @apply inline-flex items-center;
}

.radio__label {
  @apply ml-2 text-gray-700 text-base font-bold;
}

.radio__input {
  @apply h-5 w-5 focus:ring-0;
}

.button {
  @apply w-28 min-w-max h-12 bg-blue-500 border-transparent border-4 text-white hover:bg-blue-600 py-1 px-3 rounded;
}